*.onnx
*.png
*.jpg
*.JPG
*.tar
*.ply
*.yaml
*.pth
__pycache__
pretrain*
checkpoint*
filenames
*.engine
*.pth
*.ckpt
*.json
**/output/**
**/demo-output/**
**/reconstruction_output/**
*.gif
teaser
results
calibtool


# Whitelist disparity.png outputs (used as examples in README.md)
!/disparity.png
!**/disparity.png
!**/output/disparity.png
!**/demo-output/disparity.png
!**/reconstruction_output/disparity.png
